---
const { subtitle, contenText } = Astro.props;

---
<article>
    <slot name="svg"/>
    <h2>{subtitle}</h2>
    <p>{contenText}</p>
</article>


<style>
    article{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }
    h2{
        font-style: italic;
        font-weight: 400;
        font-size: 25px;
    }
    p{
        height: 150px;
        text-wrap: pretty;
        text-align: center;
    }
</style>