---
const { url, content, Class } = Astro.props;
---

<a class={Class} href={url}>
    { content }
</a>

<style>
    .buttonNormal{
        text-decoration: none;
        transition: all 0.5s linear;
        cursor:pointer;
        padding: 20px;
        color: #c3d0e2;
        font-size: 18px;
    }
    .buttonNormal:hover{
        background-color: #293b51;
        border-radius: 10px;
    }
    .buttonBorder{
        text-decoration: none;
        transition: all 0.5s linear;
        cursor:pointer;
        padding: 20px;
        color: #c3d0e2;
        background-color: #293b51;
        font-size: 18px;
        border-radius: 10px;
    }
    .buttonBorder:hover{
        background-color: #c3d0e2;
        color: #293b51;
    }

    .button:
</style>