---
import Buttons from "./buttons.astro"
import { Image } from "astro:assets";
import MarabooLogo from '../../public/image/maraboo.webp'
---

<header id="sticky-parallax-header">
    <span class="hd-logo-container">
        <Image
        src={MarabooLogo}
        alt="Una descripción de mi imagen." 
        width="300"
        height="300"
        decoding="async"
        loading="eager"
        alt="Una descripción de mi imagen."
        />
    </span>
    <h1>La Mirada de Maraboo</h1>
    <nav class="hd-link-container">
        <Buttons 
        url="../pages/404.astro"
        content="Inicio"
        />
        <Buttons 
        url="../pages/404.astro"
        content="Proyectos"
        />
        <Buttons 
        url="../pages/404.astro"
        content="Menus"
        />
        <Buttons 
        url="../pages/404.astro"
        content="Acerca de nosotros"
        />
        <Buttons 
        url="../pages/404.astro"
        content="Donativos"
        />  
    </nav>
</header>
<style>
    header{
        background: url(../../public/image/childrensV2.webp)  center;
		background-size: 110%;
        width:99%;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
    }
    header::before{
        content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			backdrop-filter: blur(2px);
			background-color: rgb(0, 0, 0,0.5);
			z-index: -10;
    }
    .hd-logo-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    h1{
        color:#e9da9f;
        font-size: 80px;
        text-align: center;
    }


    .hd-link-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        flex-direction: row;
        width: 100%;
        padding: 20px 0px;
        column-gap: 50px;
    }

#sticky-parallax-header {
	position: fixed;
	top: 0;

	animation: sticky-parallax-header-move-and-size linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
}

header .hd-logo-container{
    animation: vanish linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
}
header h1{
    animation: vanish linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
}

header .hd-link-container{
    animation: popup linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
}
body {
	padding-top: 100vh;
}

@keyframes vanish {
    from{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        width: 0;
        height: 0;
        opacity:0 ;
    }
    
}

@keyframes popup {

    to{
        backdrop-filter: blur(5px);
    }
}

@keyframes sticky-parallax-header-move-and-size {
	from {
		background-position: 50% 0;
		height: 100vh;
		font-size: calc(4vw + 1em);
	}
	to {
		background-position: 50% 100%;
		height: 10vh;
        flex-direction: row;
	}
}
</style>